{% include 'include.html' %}
{% include 'navbar.html' %}
{% block body %}
<h1 class="text-center">Bizning shifokorlar</h1>
<div class="container">
    <div class="row">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="https://www.novadent.ru/upload/resize_cache/iblock/7a9/594_3000_1/7a9bfed11efdf50e6c40d9ee29feff57.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">Захаров Георгий Карленович</p>
                <p class="card-text"><small class="text-muted">Имплантолог, хирург
                    15 лет опыта работы</small></p>
              </div>
            </div>
        </div>
        </div>
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="https://www.novadent.ru/upload/resize_cache/iblock/4b6/594_3000_1/4b6440b6a7a4bf452b52a927ce92d34e.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">Ахтуба Дарья Дмитриевна</p>
                <p class="card-text"><small class="text-muted">Врач стоматолог-ортопед
Ведущий специалист сети НоваДент</small></p>
              </div>
            </div>
        </div>
        </div>
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="https://www.novadent.ru/upload/resize_cache/iblock/f86/594_3000_1/f8678fe98cba944ef10c6bea3e26c0a2.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">Прядильщиков Анатолий Игоревич</p>
                <p class="card-text"><small class="text-muted">Имплантолог, ортопед, кандидат медицинских наук
Ведущий специалист сети НоваДент</small></p>
              </div>
            </div>
        </div>
        </div>
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="https://www.novadent.ru/upload/resize_cache/iblock/1ab/594_3000_1/1abc8c4fb9ef807a57f482a53a01fae2.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">Ведущий специалистЛобовкина Лариса Александровна</p>
                <p class="card-text"><small class="text-muted">Главный врач, терапевт, кандидат медицинских наук
Ведущий специалист сети НоваДент</small></p>
              </div>
            </div>
        </div>
        </div>

    </div>
    <h1>
        Bizning manzil
    </h1>
    <div class="row">
        <div class="col">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5016.490397326539!2d66.95589834573917!3d39.68962608811004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f4d192105ad6575%3A0x3dd6eaee02d96aa6!2z0KHQsNC80LDRgNC60LDQvdC00YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsINCj0LfQsdC10LrQuNGB0YLQsNC9!5e0!3m2!1sru!2s!4v1655808842942!5m2!1sru!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"</iframe>
        </div>
    </div>
</div>
{% endblock %}
