<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li> <a href="{% url 'adminhome' %}">Admin Panel</a></li><!-- style="color: white;background-color: grey;"-->
        <li> <a href="{% url 'adminaddDoctor' %}">Shifokor qo'shish</a></li>
        <li> <a href="{% url 'adminviewDoctor' %}">Shifokorni ko'rish</a></li>
        <li> <a href="{% url 'adminaddReceptionist' %}">Qabulga bemor qo'shish</a></li>
        <li> <a href="{% url 'adminviewReceptionist' %}">Qabulga yozilganni ko'rish</a></li>
        <li> <a href="{% url 'adminviewAppointment' %}">Qabullarni ko'rish</a></li>
        <li> <a href="{% url 'adminlogout' %}">Chiqish</a></li>
    </ul>
</div>