{% load static %}

{% if error == "no" %}
    {% if page == "doctor" %}
    <script type="text/javascript">
        alert('Muvaffaqiyatli Kirildi..........')
        window.location = ('{% url 'home' %}')
    </script>
    {% endif %}
    {% if page == "reception" %}
    <script type="text/javascript">
        alert('Muvaffaqiyatli Kirildi..........')
        window.location = ('{% url 'home' %}')
    </script>
    {% endif %}
    {% if page == "patient" %}
    <script type="text/javascript">
        alert('Muvaffaqiyatli Kirildi..........')
        window.location = ('{% url 'home' %}')
    </script>
    {% endif %}
{% endif %}

{% if error == "yes" %}
<script type="text/javascript">
    alert('Yaroqsiz hisob maʼlumotlari..........')
    window.location=('{% url 'loginpage' %}')
</script>
{% endif %}